 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 80px; 
      }

      .hero-section {
        background: rgb(21, 34, 89);       
        height: 60px;
         padding-top: 10px;
        margin-top: 15px;
        margin-left: 25px;
       font-size: 17px;

      }
  
      .hero-section button{
        color: rgb(243, 240, 236);
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        gap: 10px;
        margin-left: 80%;
        background: none;
        margin-left: 80%;
        border: none;
        
      }
      .hero-section a i{
        font-size: 15px;
       
      }

      .hero-section2 {
        box-shadow: 0 0.8px 0.8px rgba(184, 184, 185, 0.9);
        margin-top: 28px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
      }

      .hero-section2 img {
        height: 60px;
      }

      .hero-section2 i {
        font-size: 30px;
        color: blue;
        margin-top: 15px;
      }

      .section3 {
        margin-top: 100px;
        margin-left: 50px;
        display: flex;
      }

      .description {
        margin-top: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
        font-weight: 500;

      }

      .description span {
        color: rgb(21, 34, 89);
        font-weight: 600;
        font-size: 25px;
        display: block;
        margin-bottom: 20px;
      }

      .section3 img {
        height: 550px;
        width: 520px;
        margin-left: 120px;
      }

      .banner {
  background: rgb(21, 34, 89);
  color: rgb(245, 247, 249);
  font-size: 25px;
  text-align: center;
  padding: 15px 10px;
  margin-left: 25px;
  margin-right: 25px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.banner span {
  position: relative;
  display: inline-block;
  font-weight: bold;
}


.banner span::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='20'><path d='M0 20 Q50 -10 100 20' stroke='red' stroke-width='4' fill='none' stroke-linecap='round' /></svg>");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section4 a{
   display: inline-block;
  padding: 12px 28px;
  background-color: rgb(255, 59, 48); 
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 50px; /* Curved border */
  box-shadow: 0 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
  margin-top: 20px;
  margin-left: 40px;
}
.section5 {
  padding: 20px;
   
    
   
}

h1, h2 {
    color: rgb(21, 34, 89);
    margin-bottom: 15px;
    margin-bottom: 15px;
}

.text{
    font-size: 20px;
    color: rgb(21, 34, 89);
    margin-bottom: 20px;
}
.vision, .mission {
   font-size: 20px;
    color: rgb(21, 34, 89);
    margin-left: 50px;
    margin-top: 25px;
    font-family: Roboto;
    
}
hr{
  color: rgb(21, 34, 89);
  margin-bottom: 30px;
  margin-top: 30px;
}
.h3{
  color: rgb(21, 34, 89);
  display: block;
  font-family: Roboto;
  font-feature-settings: normal;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin: 20px;
}



.cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
     flex-wrap: wrap;
}

.section6 .card {
    background-color: rgb(236, 232, 255);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section6 .card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgb(21, 34, 89);
    border-radius: 4px;
    margin-right: 20px;
}

.card{
  color: rgb(21, 34, 89);
  
}

.card h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}


.section7{
  margin: 30px 35px;
  color:  rgb(21, 34, 89);
}
.section7 .h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
  

}
.section7 .text{
  line-height: 40px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

}



.cards-section7 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #1a1a1a;
}

.card p {
    font-size: 19px;
    color: #000;
    font-weight: 400;

}
/*section8*/


.benefits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.section8 .text{
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 22px;
  

}
.benefit-card {
    background-color: rgb(236, 232, 255);
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
}

.benefit-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.benefit-card h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(21, 34, 89);
    
}

.benefit-card p {
    font-size: 17px;
    font-weight: 500;
    color: rgb(21, 34, 89);
    line-height: 1.5;
}
.section9{
  margin-top: 30px;
 margin: 20px;
 
}
.section9 .h2{
  color: rgb(21, 34, 89);
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 20px;
}
.section9 .text{
  text-align: center;
}
.section10{
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section10 .card{
  width: 300px;
  height: 700px;
  border-color: #ffffff;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.section10 .card:hover{
  border: 2px solid rgb(21, 34, 89);

}
.section10 .card a{
  width: 200px;

}
.section10 .card2{
  width: 300px;
  height: 700px;
  border-color: #ffffff;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 9px;
}
.section10 .card2:hover{
  border: 2px solid rgb(21, 34, 89);

}
.section10 .card2 .h2{
  color: rgb(21, 34, 89);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section10 .card2 .button a{
  margin-top: 10px;
  margin-left: 10px;
 
}

.section10 .h3{
  margin-bottom: 30px;
  font-size: 15px;
  color: rgb(21, 34, 89);
  font-weight: 800;
}

.section10 .text{
  color: rgb(11, 20, 57);
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px; 
  font-family: Arial, Helvetica, sans-serif;

}

.section10 a{
  text-decoration: none;
  color: rgb(21, 34, 89);
  font-weight: 700;
  background-color: #ffffff;
  width: 200px;
  height: 50px;
  border: 2px solid;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 9px;
  border-color: rgb(21, 34, 89);

}
.section10 a:hover{
  background-color: rgb(21, 34, 89);
  color: #ffffff;
   font-weight: 700;
}

.section10 ul li{
  text-decoration: none;
  line-height: 2;
  align-content: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  list-style: none;

  
}
.section10 ul li i{
  color: rgb(2, 255, 2);
}
 .section11 {
            text-align: center;
            padding: 50px 20px;
        }
 .demo-section {
            background-color: #fff;
            padding: 20px;
            border: 3px solid;
            border-color: rgb(21, 34, 89);
            border-radius: 6px;
            margin-bottom: 20px;
        }
 .demo-section h1 {
            color: #000080;
        }
 .demo-section p {
            color: #000080;
        }
       
 .demo-section .btn {
            background-color: #ff4d4d;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 7px;
            margin-top: 10px;
        }
.footer {
            background-color: rgb(21, 34, 89);
            color: #fff;
            padding: 20px;
            margin-bottom: 0px;
        }
        .footer a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
        }
        .footer .subscribe {
            margin-top: 20px;
        }
        .footer .subscribe input[type="email"] {
            padding: 10px;
            width: 250px;
            border: none;
            margin-right: 10px;
        }
  .footer .subscribe input[type="submit"] {
            padding: 10px 20px;
            border: none;
            background-color: #fff;
            color: #000080;
            cursor: pointer;
        }
  .footer .social-icons {
            margin-top: 20px;
        }
  .footer .social-icons a {
            margin: 0 10px;
            color: #fff;
            font-size: 24px;
        }

