* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 80px; 
      }

      .hero-section {
        background: rgb(21, 34, 89);       
        height: 60px;
         padding-top: 10px;
        margin-top: 15px;
        margin-left: 25px;
       font-size: 17px;

      }
  
      .hero-section button{
        color: rgb(243, 240, 236);
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        gap: 10px;
        margin-left: 80%;
        background: none;
        margin-left: 80%;
        border: none;
        
      }
      .hero-section a i{
        font-size: 15px;
       
      }

      .hero-section2 {
        box-shadow: 0 0.8px 0.8px rgba(184, 184, 185, 0.9);
        margin-top: 28px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
      }

      .hero-section2 img {
        height: 60px;
      }

      .hero-section2 i {
        font-size: 30px;
        color: blue;
        margin-top: 15px;
      }